<ion-view view-title="{{vm.title}}">
  <ion-nav-buttons side="right">
    <button ng-hide="vm.status !== 'REJECTED'" class="button button-icon button-clear ion-loop" data-ng-click="vm.resubmitDeposit(vm.deposit)"></button>
  </ion-nav-buttons>
  <ion-content scroll="false">
    <!-- View Banner -->
    <div>
      <h4>Account:
        <span class="detail-info">{{vm.account}}</span>
      </h4>
      <h4>Deposit Amount:
        <span class="detail-info">{{vm.depositAmount}}</span>
      </h4>
      <h4>Status:
        <span class="detail-info">{{vm.status}}</span>
      </h4>
      <h4>Description:
        <span class="detail-info">{{vm.description}}</span>
      </h4>
    </div>
    <!-- Deposit Checks List -->
    <ion-scroll>
      <ion-list>
        <ion-item class="item item-thumbnail-right" data-ng-repeat="check in vm.checks" data-ng-click="vm.showImages($index)">
          <img class="check-thumbnail" data-ng-src="{{check.checkFrontImage}}" />
          <h2>{{check.id}}</h2>
          <h4>{{check.number}}</h4>
          <h4>{{check.amount | currency}}</h4>
          <h4>{{check.ts}}</h4>
        </ion-item>
      </ion-list>
    </ion-scroll>
  </ion-content>
</ion-view>
