<ion-view>
    <ion-header-bar>
        <!-- Signin Button -->
        <button ng-click="vm.signin()" class="button button-clear button-positive pull-right">
            {{ vm.title }}
        </button>
    </ion-header-bar>
    <ion-content>
            <div class="list">
                <!-- User Name -->
                <label class="item item-input">
                    <input name="username" placeholder="Username:" type="text" data-ng-model="vm.username" required data-ng-change="vm.usernameChange()">
                </label>
                <!-- Password -->
                <label class="item item-input">
                    <input name="password" placeholder="Password:" type="password" data-ng-model="vm.password" required data-ng-change="vm.passwordChange()">
                </label>
            </div>
    </ion-content>
</ion-view>
