<ion-view>
    <ion-header-bar>
        <!-- Dont Accept Button -->
        <button data-ng-click="vm.dontAccept()" class="button button-clear button-positive">
            Don't Accept
        </button>
        <!-- Accept Button -->
        <button data-ng-click="vm.acceptTerms()" class="button button-clear button-positive">
            Accept
        </button>
    </ion-header-bar>
    <ion-content>
            <div class="list">
                <!-- Terms -->
                <div class="card">
                    <div class="item item-text-wrap">
                        These are the terms and aggrements Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at lacus sed sem lobortis pharetra quis malesuada ex. Nulla fermentum tortor risus, aliquam lobortis nulla lacinia vitae. Nullam sapien odio, posuere a velit vel, fringilla condimentum elit. Proin sit amet commodo sem. Quisque nec semper erat. Integer pellentesque ligula et porta dignissim. Morbi in urna ex.
                        Donec ultricies lectus at justo scelerisque suscipit. In vulputate elit id ipsum commodo, in luctus augue scelerisque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras viverra aliquet mollis. Maecenas finibus tortor dui. Cras efficitur, arcu non feugiat ultrices, quam tortor ornare nisl, a condimentum nisl purus non velit. Quisque ligula eros, vehicula non libero ac, interdum accumsan nisl. Ut at sem iaculis, pellentesque quam in, iaculis nulla. Nulla in elit auctor, bibendum tortor quis, dapibus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eleifend sem nec felis euismod hendrerit. Pellentesque dictum aliquet elit, eget elementum velit elementum eu. Pellentesque lacinia magna odio, sit amet imperdiet arcu eleifend id. Phasellus a ultricies nisi, non elementum eros. Cras dapibus mauris nec purus maximus feugiat. Phasellus maximus nibh mi, eget convallis augue sagittis vitae.
                        Fusce pulvinar augue eu porta volutpat. Donec in sagittis ipsum. Nullam eu aliquam purus. Suspendisse at mattis eros. Mauris a luctus purus, vel dictum augue. Maecenas facilisis volutpat arcu, quis molestie nunc. Morbi interdum auctor lectus ac pretium. Integer commodo faucibus eros, auctor rutrum nisl ultricies at. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        Donec semper ligula sed quam pretium, id ornare purus pharetra. Cras eget feugiat diam, tincidunt dapibus lorem. Nam in tellus tellus. Nunc erat ligula, laoreet vitae volutpat ut, accumsan vitae sapien. Donec ornare semper diam, ut facilisis orci. Morbi vitae pretium libero. Etiam a risus in augue ullamcorper sagittis. Praesent porta massa maximus lacus varius, nec scelerisque sem pellentesque. Donec convallis est a nisl aliquam, quis mollis turpis faucibus.
                        Praesent egestas magna erat, et fermentum elit facilisis ut. Integer maximus scelerisque tempor. Integer condimentum dolor in nisi consequat hendrerit. Aenean pretium risus vitae sapien condimentum malesuada. Morbi viverra elementum risus, ac porta massa porta et. Duis sagittis purus et elit facilisis bibendum. Curabitur vitae lacinia neque, eget aliquet nisi. Suspendisse congue quis ex non pretium. In convallis bibendum ullamcorper. Proin porttitor elementum sapien, non aliquet nibh semper in.
                    </div>
                </div>
            </div>
    </ion-content>
</ion-view>
